#canvas {
    border: 5px solid rgb(78, 102, 73); 
    height: 500px; 
    width: 900px;
    margin-bottom: 2em; 
    background-color: beige; 

}

#container {
    display: flex;
    height: 100vh; 
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px; 
    overflow: visible; 
}

#controls-wrapper{
    flex-direction: row;
}

#button-wrapper {
    flex-direction: row; 
    margin-bottom: 5em; 
    padding-bottom: 5px;
}

h1 {
    padding-top: 10px;
    color:rgb(73, 93, 69);
    font-family: "Pixelify Sans", sans-serif; 
    margin-top: 8em;
    margin-bottom: 1em; 
}

p{
    color: rgb(74, 97, 62); 
    font-family: "Pixelify Sans", sans-serif; 
}

input {
    color: lightpink; 
}

label {
    font-family: "Pixelify Sans", sans-serif; 
}

button{
    margin-bottom: 1em;
    font-family: "Pixelify Sans", sans-serif;
    color: rgb(55, 90, 55); 
}
body {
    margin-bottom: 5em; 
    background: linear-gradient(135deg, #bcdfb2, #d0e3be, #9cbc9b); 
    background-size: 400% 400%; 
    animation: gradientShift 15s ease infinite; 
    min-height: 100vh; 

}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%; 
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%; 
    }
}